html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header,
.footer {
    height: 100px;
    background-color: rgb(30, 30, 30);
}

/* header */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo img {
    height: 80px;
    width: 80px;
    padding: 10px;
    margin-left: 40px;
}

.nav__list {
    margin-right: 100px;
    display: flex;
    column-gap: 95px;
}

.nav__list li a {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.nav__list li a:hover {
    color: #017754;
}

/* main */

.main {
    flex: 1 0 auto;
    background-color: #017754;
}

.menu {
    margin: 70px auto;
    max-width: 1180px;
    display: flex;
    justify-content: space-around;
    gap: 300px;
}

.menu img {
    width: 400px;
    height: 350px;
    border-radius: 30px;
    border: 5px solid #fff;
    margin-top: 150px;
}

/* footer */

.footer {

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 35px;
}

.NameNad{
    color: #fff;
    font-size: 50px;
    margin: 140px auto;
}

.title {
    text-align: center;
}

.logo {
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 60px;
}